# --- Dependências ---
node_modules/
.pnp
.pnpm-debug.log*

# --- Build e Saídas de Compilação ---
dist/
build/
.next/
*.tsbuildinfo

# --- React Native / Mobile ---
.expo/
.expo-shared/
android/app/build/
ios/Pods/
ios/build/

# --- Variáveis de Ambiente e Segredos ---
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# --- Logs e Caches ---
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.eslintcache

# --- Sistema Operacional ---
.DS_Store
Thumbs.db

# --- Editores e IDEs ---
.idea/
*.sublime-workspace
*.sublime-project